.example-spacer {
    flex: 1 1 auto;
}

#about-button {
    float: right;
}

.logo {
    text-decoration: none; /* no underline */
    color: white !important;
}

.helloText {
    font-size: 16px;
    margin-top: 5px;
}