.example-spacer {
    flex: 1 1 auto;
}

#about-button {
    float: right;
}

.logo {
    text-decoration: none; /* no underline */
    color: white !important;
}

.helloText {
    font-size: 16px;
    margin-top: 5px;
    margin-right: 5px;
}

.avatar {
    margin-right: 10px;
}

.about {
    margin-left: 20px;
}

.logout {
    margin-right: -10px !important;
}