<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="left"><a routerLink="/" class="logo">Unggoy Type</a></span>
    <span class="example-spacer"></span>
    <span
      *ngIf="authService.currentUser?.displayName; else notLoggedIn"
      class="helloText"
      >Hi, {{ authService.currentUser?.displayName }}</span
    >
    <ng-template #notLoggedIn>
      <span> </span>
    </ng-template>

    <button
      id="about-button"
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="About Icon"
      [routerLink]="'/about'"
    >
      <mat-icon>info_outline</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Github Icon"
      (click)="goGithub()"
    >
      <mat-icon>code</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
