<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="left">Unggoy Type</span>
    <span class="example-spacer"></span>
    <button
      id="about-button"
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>info_outline</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
      (click)="goGithub()"
    >
      <mat-icon>code</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
