<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="left"
      ><a routerLink="/" class="logo"
        ><img
          src="../../assets/icons/icon-monkey.png"
          class="monkeyIcon"
        />Unggoy Type</a
      ></span
    >
    <button
      id="about-button"
      mat-icon-button
      class="example-icon favorite-icon about"
      aria-label="About Icon"
      [routerLink]="'/'"
    >
      Home
    </button>
    <button
      id="about-button"
      mat-icon-button
      class="example-icon favorite-icon about"
      aria-label="About Icon"
      [routerLink]="'/about'"
    >
      About
    </button>
    <button
      id="about-button"
      mat-icon-button
      class="example-icon favorite-icon about"
      aria-label="About Icon"
      [routerLink]="'/contact-us'"
    >
      Contact Us
    </button>
    <span class="example-spacer"></span>
    <img
      ngxGravatar
      src="{{ authService.currentUser.photoURL }}"
      alt="User image"
      class="avatar"
      *ngIf="authService.currentUser"
    />
    <span *ngIf="authService.currentUser?.displayName" class="helloText"
      >Hi, {{ authService.currentUser?.displayName }}</span
    >
    <button
      mat-icon-button
      class="example-icon logout"
      aria-label="Logout Icon"
      (click)="logout()"
      *ngIf="authService.currentUser"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
