<div class="container">
  <h1 class="bigText">Unggoy Type 🙊</h1>
  <h4 class="moreText">
    was created as an Angular learning project by Mon and Pao. It showcases a
    typing test that displays the user's WPM (words per minute), accuracy, and
    errors. Unggoy Type is a localized version of the famous Monkeytype as the
    creators aimed to create a simple application so that they could apply what
    they have learned after watching endless Udemy tutorials by Maximilian
    Schwarzmüller. 😂
  </h4>
  <h4 class="moreText">
    TLDR, they were tasked to create a simple project and they also grew tired
    of watching Udemy tutorials.
  </h4>
</div>
