<div class="container">
  <h1 class="bigText">Unggoy Type 🙊</h1>
  <h4 class="moreText">
    was created as an Angular learning project by Mon and Pao. It showcases a
    typing test that displays the user's WPM (words per minute), accuracy, and
    errors. Unggoy Type is a localized version of the famous Monkeytype as the
    creators aimed to create a simple application so that they could apply what
    they have learned after watching endless Udemy tutorials by Maximilian
    Schwarzmüller. 😂
  </h4>
  <h4 class="moreText2">
    TLDR, they were tasked to create a simple project and coincidentally, wanted
    a project-based type of learning.
  </h4>
  <h1 class="bigText">Creators 👨‍💻👩‍💻</h1>
  <div style="display: flex">
    <mat-card style="flex: 1 1 auto">
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-header>
        <mat-card-title>Nicolas Paolo Pepito</mat-card-title>
        <mat-card-subtitle>Developer</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>Chuy2 na coder</mat-card-content>
    </mat-card>
    <mat-card style="flex: 1 1 auto">
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-header>
        <mat-card-title>Monica Barrientos</mat-card-title>
        <mat-card-subtitle>Developer</mat-card-subtitle>
      </mat-card-header>
      Pachuy2 pud
    </mat-card>
  </div>
</div>
