<div class="main-div">
  <mat-card class="example-card" style="text-align: center">
    <mat-card-header>
      <mat-card-title>Contact Us</mat-card-title>
      <mat-card-subtitle
        >If you have any questions, don't hesitate to ask.</mat-card-subtitle
      >
    </mat-card-header>
    <img
      src="https://images.unsplash.com/photo-1559030623-0226b1241edd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNvbnRhY3QlMjB1c3xlbnwwfHwwfHw%3D&w=1000&q=80"
      height="190"
      width="350"
      class="contactcard"
    />
    <mat-card-content>
      <form
        [formGroup]="myForm"
        (ngSubmit)="onSubmit(myForm, formGroupDirective)"
        class="mainForm"
        #formGroupDirective="ngForm"
      >
        <div>
          <mat-form-field appearance="standard" [style.width.%]="100">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
            <mat-error
              *ngIf="!myForm.get('name')?.valid && myForm.get('name')?.touched"
              >{{ requiredMessage }}</mat-error
            >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="standard" [style.width.%]="100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error
              *ngIf="
                !myForm.get('email')?.valid && myForm.get('email')?.touched
              "
              >{{ emailValidityMessage }}</mat-error
            >
          </mat-form-field>
        </div>
        <div>
          <mat-form-field
            class="example-full-width"
            appearance="standard"
            [style.width.%]="100"
          >
            <mat-label>Leave a message</mat-label>
            <textarea
              matInput
              placeholder="Your message"
              formControlName="message"
              rows="5"
            ></textarea>
            <mat-error
              *ngIf="
                !myForm.get('message')?.valid && myForm.get('message')?.touched
              "
              >{{ requiredMessage }}</mat-error
            >
          </mat-form-field>
        </div>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="myForm.invalid"
          >
            Send
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
