
#phraseContainer {
    margin-top: 10px;
}

.untyped {
    background-color: transparent;
}

.correct {
    color:green;
}
.wrong-space {
    background-color: rgb(255, 139, 139);
}

.wrong {
    color:red;
}
