
#phraseContainer {
    margin-top: 10px;
}

.untyped {
    color: grey;
}

.correct {
    color:lightgreen;
    font-weight: bold;
}
.wrong-space {
    background-color: rgb(255, 139, 139);
}

.wrong {
    color:red;
    font-weight: bold;
}

#Inconsolata {
    font-family: Inconsolata;
}