<div class="container">
  <div class="buttonGroup">
    <mat-button-toggle-group
      name="fontStyle"
      aria-label="Font Style"
      class="buttonGroup"
    >
      <mat-button-toggle value="hwpm"
        ><a routerLink="/leaderboards" [queryParams]="{ stats: 'wpm' }"
          >Highest WPM</a
        ></mat-button-toggle
      >
      <mat-button-toggle value="htime"
        ><a routerLink="/leaderboards" [queryParams]="{ stats: 'time' }"
          >Fastest Time</a
        ></mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>

  <mat-grid-list cols="3">
    <mat-grid-tile
      *ngFor="
        let stats of topUserStats$ | async;
        let i = index;
        trackBy: userStatsById
      "
    >
      <mat-card class="individualCard">
        <img
          mat-card-sm-image
          [src]="stats.user.photoUrl"
          alt="User image"
          class="userImg"
        />
        <mat-card-header class="cardHeader">
          <mat-card-title>{{ stats.user.displayName }}</mat-card-title>
          <mat-card-subtitle
            style="text-align: center"
            [ngClass]="i < 3 ? 'top' : 'bottom'"
            >Rank {{ i + 1 }}</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content class="cardContent">
          <h5 class="stats">WPM: {{ stats.highestWpm | number: "1.0-0" }}</h5>
          <h5 class="stats">
            Fastest Time: {{ stats.fastestTime | timeDisplay }}
          </h5>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
