<h1>User: {{ authService.currentUser?.displayName }}</h1>
<img [src]="authService.currentUser?.photoURL" alt="User image">
<div><button type="button" (click)="logout()">Logout</button></div>

<div class="container" (keydown)="resetOnTab($event)">
  <app-typing-stats></app-typing-stats>
  <app-options-bar></app-options-bar>
  <app-text-source
    [inputText]="statsService.inputText"
    (displayTextChange)="onDisplayTextChange($event)"
  ></app-text-source>

  <app-text-input (inputChange)="onInput($event)"></app-text-input>
</div>
