<h1>
  <span id="stopwatch">
    {{ statsService.timeInDs | timeDisplay }}
  </span>
</h1>

<div id="statsContainer">
  <mat-card>
    <mat-card-title>WPM</mat-card-title>
    <h3>{{ statsService.wordsPerMin | number:'1.0-0'}}</h3>
  </mat-card>
  <mat-card>
    <mat-card-title>Accuracy</mat-card-title>
    <h3>{{ statsService.accuracy | percent:'1.1-1'}}</h3>
  </mat-card>
  <mat-card>
    <mat-card-title>Errors</mat-card-title>
    <h3>{{ statsService.errorCount }}</h3>
  </mat-card>
</div>
<hr />
<div id="wrapper">
  <button mat-raised-button color="primary" (click)="onReset()" type="button">
    Reset
  </button>
</div>
<hr />