h1 {
    text-align: center;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#stopWatch {
    font-size: 60px;
}

#statsContainer {
    display: flex;
}

.mat-card {
    flex: 1 1 auto
}