<div class="container">
  <h1 class="timer">
    <span id="stopwatch">
      {{ statsService.timeInDs | timeDisplay }}
    </span>
  </h1>
</div>
<img
  src="https://c.tenor.com/ddt1NCaQvPoAAAAM/monkey-cute.gif"
  width="50"
  height="50"
  class="monkeyGif"
  id="center"
  alt="Lower WPM Monkey"
  *ngIf="statsService.wordsPerMin < 80; else higher"
/>
<ng-template #higher
  ><img
    src="https://c.tenor.com/M7V-haVda1MAAAAM/cute-adorable.gif"
    width="50"
    height="50"
    class="monkeyGif"
    alt="Higher WPM Monkey"
    id="center"
/></ng-template>
<div class="stats-container">
  <mat-card class="left-stats-card">
    <mat-card-title>WPM </mat-card-title>
    <h3>{{ statsService.wordsPerMin | number: "1.0-0" }}</h3>
  </mat-card>
  <mat-card>
    <mat-card-title>Accuracy</mat-card-title>
    <h3>{{ statsService.accuracy | percent: "1.1-1" }}</h3>
  </mat-card>
  <mat-card>
    <mat-card-title>Errors</mat-card-title>
    <h3>{{ statsService.errorCount }}</h3>
  </mat-card>
</div>

<hr />
<div id="wrapper">
  <button mat-raised-button color="primary" (click)="onReset()" type="button">
    Reset
  </button>
</div>
<hr />
