#wrapper {

    display: flex;
    align-items: center;
    justify-content: center;
}
  
mat-card {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

.timer {
    margin-top: 50px;
    margin-right: 25px;
}

.monkeyGif {
    margin-top: -10px;
}

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }