<div class="container"></div>
<h1 style="text-align: center">
  <span id="stopwatch" style="font-size: 60px">
    {{ statsService.timeInDs | timeDisplay }}
  </span>
</h1>

<div style="display: flex">
  <mat-card style="flex: 1 1 auto">
    <mat-card-title>WPM</mat-card-title>
    <h3>{{ (statsService.wordsPerMin | number:'1.2-2') ?? '-' }}</h3>
  </mat-card>
  <mat-card style="flex: 1 1 auto">
    <mat-card-title>Accuracy</mat-card-title>
    <h3>{{ statsService.accuracy | percent}}</h3>
  </mat-card>
</div>
<hr />
<div id="wrapper">
  <button mat-raised-button color="primary" (click)="onReset()" type="button">
    Reset
  </button>
</div>
<hr />