<div class="container"></div>
<h1 style="text-align: center">
  <span id="stopwatch" style="font-size: 60px">
    {{ analyticsService.storeDs | timeDisplay }}
  </span>
</h1>

<div style="display: flex">
  <mat-card style="flex: 1 1 auto">
    <mat-card-title>WPM </mat-card-title>
    <h3>WPM here</h3>
  </mat-card>
  <mat-card style="flex: 1 1 auto">
    <mat-card-title>Errors </mat-card-title>
    <h3>{{ errorCounter }}</h3></mat-card
  >
</div>
<hr />
<div id="wrapper">
  <button mat-raised-button color="primary" (click)="analyticsService.reset()" type="button">
    Reset
  </button>
</div>
<hr />
