
@font-face {
  font-family: "Inconsolata";
  src: url('./assets/fonts/Inconsolata.ttf') format('truetype');
}

@font-face {
  font-family: "Epilogue";
  src: url('./assets/fonts/Epilogue.ttf') format('truetype');
}

#Inconsolata {
  font-family: Inconsolata;
}

* {
  font-family: 'Epilogue', sans-serif;
  margin: 0;
}

:root {
    --dark-blue:#3f50b5;
    --black: black;
    --white: white;
}

::-webkit-scrollbar {
    width: 0.5em;
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-blue);
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
