#typeBox {
    margin-top: 20px;
    margin-bottom: 50px;
}

mat-form-field {
    width: 100%;
}

::ng-deep .mat-form-field .mat-input-element {
    color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-label {
    color: slategray!important;
}
::ng-deep .mat-form-field .mat-form-field-underline {
    background-color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-ripple {
    background-color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-required-marker {
    color: slategray;
}


::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #3f50b5!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #3f50b5;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
    color: #3f50b5;
}
::ng-deep .mat-form-field.mat-focused .mat-input-element {
    color: #3f50b5;
}

textarea {
    cursor: none;
    pointer-events: none;
}