<div id="typeBox">
  <mat-form-field appearance="fill">
    <textarea
      #textField
      matInput
      matTextareaAutosize
      rows="10"
      placeholder="Start Typing!"
      [(ngModel)]="statsService.inputText"
      (input)="onInput({ input: textField.value, rawInputEvent: $event })"
      [disabled]="isTypeFinished"
      (keydown)="disableMovement($event)"
      onPaste="return false"
      (paste)="handlePaste()"
    ></textarea>

    <!-- Autofocuses #textField onReset -->
    <!-- (native autofocus attribute doesn't work) -->
    {{ textField.focus() }}

  </mat-form-field>
</div>
